.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.618vh;
  padding: 5vh;
  height: 100vh;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.cocktailContainer {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.titleWrapper {
  display: flex;
  justify-content: flex-start;
  margin-right: 8.09vw;
  margin-bottom: 1.618vh;
  height: 38.2%;
  /* border: 1px solid blue; */
  border-radius: 5px;
  box-sizing: border-box;
  /* overflow: hidden; */
  animation: floating 6s ease-in-out infinite;
}

.descriptionWrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 8.09vw;
  margin-top: 1.618vh;
  height: 61.8%;
  /* border: 1px solid blue; */
  border-radius: 5px;
  box-sizing: border-box;
  animation: floating 6s ease-in-out infinite;
}
