/* styles/Main.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #000; /* Assuming black background from the image */
    color: #fff; /* Assuming white text color */
  }
  
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .carouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  
  .subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  